  .site-header {
    background-color: lightyellow;
  }

  .site-header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  nav {
    display: none;
  }
.nav-ul {
  list-style-type: none;
  padding-left: 1%;
}

.nav-ul li {
  text-align: left;
  font-size: 200%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid gray;
}
  .hamburger {
    display: flex;
    align-items: flex-start;
    float: right;
    font-size: 300%;
  }

  .hamburger:hover  ~ nav {
    display: block;
  }

  .heading-group-h1 {
    margin: 0;
    padding: 2% 2% 0% 2%;
  }

  .heading-group-h1 h1 {
    font-size: 250%;
    font-weight: bold;
  }

  @media only screen and (min-width: 640px) {
    nav {
      display: block;
    }

    .nav-ul {
      overflow: hidden;
    }

    .nav-ul li {
      border: none;
      float: left;
      margin-left: 4%;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .hamburger {
      display: none;
    }
  }